@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    background-color: var(--background);
    color: var(--foreground);
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    background-color: var(--background);
    color: var(--foreground);
  }
}

@layer components {
  header {
    --bg-light: white;
    --bg-dark: hsl(240 10% 10%);
    --text-light: black;
    --text-dark: white;
  }

  .nav-item a,
  #feedbackButton a {
    position: relative;
    padding-bottom: 4px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition:
      color 0.3s ease,
      border-bottom-color 0.3s ease;
  }

  .nav-item a::before,
  #feedbackButton a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: currentColor; /* Default to current text color */
    transition:
      width 0.3s ease,
      background-color 0.3s ease;
  }

  .nav-item a:hover::before,
  #feedbackButton a:hover::before {
    width: 100%;
  }

  .dark .nav-item a::before,
  .dark #feedbackButton a::before {
    background-color: #ffffff;
  }

  .dark .nav-item a,
  .dark #feedbackButton a {
    color: #ffffff;
  }
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* ANIMATION */
/* ANIMATION */
/* ANIMATION */

@keyframes glitch {
  0%,
  100% {
    text-shadow: none;
    transform: translate(0, 0);
  }
  25% {
    text-shadow:
      -2px 2px 2px rgba(255, 0, 0, 0.7),
      2px -2px 2px rgba(0, 0, 255, 0.7);
    transform: translate(-2px, 2px);
  }
  50% {
    text-shadow:
      2px -2px 2px rgba(255, 0, 0, 0.7),
      -2px 2px 2px rgba(0, 255, 0, 0.7);
    transform: translate(2px, -2px);
  }
  75% {
    text-shadow:
      -1px -1px 2px rgba(0, 0, 255, 0.7),
      1px 1px 2px rgba(255, 255, 0, 0.7);
    transform: translate(-1px, -1px);
  }
}

@keyframes neon-flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    opacity: 1;
  }
  20%,
  24%,
  55% {
    opacity: 0.8;
  }
  21%,
  23% {
    opacity: 0.6;
  }
}

.animate-glitch {
  animation: glitch 1s infinite;
}

.animate-neon {
  animation: neon-flicker 1.5s infinite alternate;
  text-shadow:
    0 0 10px rgba(0, 255, 255, 0.9),
    0 0 20px rgba(0, 255, 255, 0.9),
    0 0 30px rgba(0, 255, 255, 0.9);
}

.hover-3d:hover {
  transform: perspective(300px) rotateY(20deg) rotateX(10deg);
  transition: transform 0.3s ease;
}

/* ANIMATION */
/* ANIMATION */
/* ANIMATION */

/* CONTACT */
/* CONTACT */
/* CONTACT */

#formContact {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* CONTACT */
/* CONTACT */
/* CONTACT */
