---
import Layout from "../layouts/Layout.astro";
import {
  FacebookHoverCardMainPage,
  InstagramHoverCardMainPage,
} from "../components/ui/HoverCardTest";
---

<Layout title="Freedom Butchers" headerTitle="Freedom Butchers">
  <main class="p-4 pt-24">
    <section id="hero"></section>
    <section
      class="bg-cover bg-center bg-gray-100 dark:bg-gray-700 h-72 max-[1024px]:h-80 max-[768px]:h-96 mt-24 pt-12 text-center relative"
    >
      <div class="container mx-auto relative z-10 mb-8">
        <h2
          class="text-4xl font-extrabold mb-4 max-md:text-3xl max-[640px]:text-2xl max-[425px]:text-xl"
        >
          Welcome to Freedom Butchers
        </h2>
        <div
          class="flex flex-row m-auto justify-center gap-4 my-6 max-[640px]:flex-col"
        >
          <FacebookHoverCardMainPage client:load />
          <InstagramHoverCardMainPage client:load />
        </div>
        <p
          class="text-xl mb-6 px-6 max-md:text-lg max-[640px]:text-base max-[425px]:text-sm"
        >
          Premium cuts of meat for every occasion. Explore our quality and
          experience the best!
        </p>
        <a
          href="/menu"
          class="px-6 py-3 rounded-full max-[640px]:px-4 max-[640px]:text-sm font-semibold transition bg-black text-white dark:bg-white dark:text-black"
        >
          See Our Menu
        </a>
      </div>

      <div class="absolute inset-0 opacity-50 z-0"></div>
    </section>

    <section
      id="talk-meat"
      class="flex items-center justify-center h-80 relative overflow-hidden mt-10 py-4"
    >
      <h2
        class="text-[5rem] font-extrabold flex flex-col md:flex-row items-center md:space-x-8 max-[1024px]:text-[4rem] max-[768px]:text-[3rem] max-[425px]:text-[2rem] leading-snug"
      >
        <span class="hover-3d animate-glitch">Let's</span>
        <span class="hidden md:inline"> / </span>
        <span class="md:hidden">///</span>
        <span class="hover-3d animate-neon">Talk</span>
        <span class="hidden md:inline"> / </span>
        <span class="md:hidden">///</span>
        <span class="hover-3d animate-glitch">Meat</span>
      </h2>
      <div class="absolute inset-0 opacity-50"></div>
    </section>

    <section
      id="welcome"
      class="text-center mb-8 shadow-md p-6 rounded-lg pt-24"
    >
      <h2 class="text-2xl font-bold mb-4">Welcome to Freedom Butchers</h2>
      <p class="mt-4">
        At Freedom Butchers, we offer high-quality meats sourced from the best
        suppliers. Our friendly staff is here to help you find exactly what you
        need, whether you're preparing a family meal or a special occasion
        feast.
      </p>
      <img
        src="/images/freedombutchers.jpg"
        alt="Butcher Shop"
        class="w-full max-w-2xl mx-auto my-4 rounded-lg shadow-lg border-4 max-[1024px]:max-w-xl"
      />
    </section>

    <section id="location"></section>

    <section
      class="flex flex-col md:flex-row items-stretch justify-center gap-8 mb-16 pt-8"
    >
      <section
        class="flex-1 flex flex-col text-center p-6 rounded-lg shadow-lg bg-white dark:bg-gray-800 mt-16"
      >
        <h2 class="text-2xl font-bold mb-4 max-[1024px]:text-xl">
          Our Location - Freedom Butchers
        </h2>

        <address class="not-italic mb-4 text-base">
          Visit us at: <strong>8600 W 159th St, Orland Park, IL 60462</strong>.
          Conveniently located in the heart of Orland Park, Freedom Butchers is
          easy to find for all your fresh meat and catering needs.
        </address>

        <iframe
          title="Freedom Butchers Location Map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2983.4677318964723!2d-87.83186342342583!3d41.60239628263034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e3ffd4d45ace5%3A0x8c542ccb7cf7d4a5!2sFreedom%20Butchers!5e0!3m2!1sen!2sus!4v1727112358469!5m2!1sen!2sus"
          width="100%"
          height="300"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          class="mt-4 rounded-lg shadow-sm"></iframe>
      </section>

      <section id="hours" class="mt-[-2rem]"></section>
      <div
        class="flex-1 flex flex-col text-center p-6 rounded-lg shadow-lg bg-white dark:bg-gray-800 mt-16 pt-8"
      >
        <h2 class="text-2xl font-bold mb-4 max-[1024px]:text-xl">
          Store Hours
        </h2>
        <div class="overflow-x-auto">
          <table
            class="min-w-full text-xl max-[1024px]:text-lg max-[375px]:text-base"
          >
            <thead>
              <tr class="bg-gray-100 dark:bg-gray-700">
                <th class="py-2 text-left">Day</th>
                <th class="py-2 text-left">Hours</th>
              </tr>
            </thead>
            <tbody class="text-left">
              <tr class="border-b">
                <td class="py-2">Monday</td>
                <td class="py-2">Closed</td>
              </tr>
              <tr class="border-b">
                <td class="py-2">Tuesday</td>
                <td class="py-2">01:00 PM - 06:00 PM</td>
              </tr>
              <tr class="border-b">
                <td class="py-2">Wednesday</td>
                <td class="py-2">10:00 AM - 06:00 PM</td>
              </tr>
              <tr class="border-b">
                <td class="py-2">Thursday</td>
                <td class="py-2">10:00 AM - 06:00 PM</td>
              </tr>
              <tr class="border-b">
                <td class="py-2">Friday</td>
                <td class="py-2">10:00 AM - 06:00 PM</td>
              </tr>
              <tr class="border-b">
                <td class="py-2">Saturday</td>
                <td class="py-2">10:00 AM - 04:00 PM</td>
              </tr>
              <tr>
                <td class="py-2">Sunday</td>
                <td class="py-2">10:00 AM - 02:00 PM</td>
              </tr>
            </tbody>
          </table>
          <div
            class="flex flex-col mt-4 text-lg max-[425px]:text-base max-[375px]:text-sm"
          >
            <p
              class="text-gray-600 dark:text-gray-300 italic text-center underline"
            >
              All hours are in CST
            </p>
            <p
              class="text-gray-600 dark:text-gray-300 italic text-center underline"
            >
              Hours are subject to change
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="catering"></section>
    <section
      class="mb-12 p-8 rounded-lg bg-white dark:bg-gray-800 shadow-lg mt-36"
    >
      <h2 class="text-2xl font-bold mb-4">Catering Services</h2>
      <div class="space-y-6 text-left text-gray-700 dark:text-white">
        <p>
          At Freedom Butchers, we offer a variety of catering services to meet
          the needs of any event—whether you're hosting a family gathering,
          corporate event, or special celebration. From mouthwatering meats to
          custom platters, we can cater to groups of any size.
        </p>
        <p>
          To discuss your specific catering needs and receive a personalized
          quote, please call our store directly. Our team is ready to assist you
          in creating the perfect menu for your event.
        </p>
        <p>
          In addition to direct catering orders, we also partner with popular
          delivery services for a seamless catering experience. You can
          conveniently place catering orders through:
        </p>
        <ul class="list-inside list-disc space-y-2">
          <li>
            <a
              href="https://www.doordash.com"
              class="text-blue-600 hover:underline dark:text-yellow-400"
              target="_blank">DoorDash</a
            >
          </li>
          <li>
            <a
              href="https://www.ubereats.com"
              class="text-blue-600 hover:underline dark:text-yellow-400"
              target="_blank">UberEats</a
            >
          </li>
          <li>
            <a
              href="https://www.postmates.com"
              class="text-blue-600 hover:underline dark:text-yellow-400"
              target="_blank">Postmates</a
            >
          </li>
          <li>
            <a
              href="https://www.grubhub.com"
              class="text-blue-600 hover:underline dark:text-yellow-400"
              target="_blank">GrubHub</a
            >
          </li>
        </ul>
        <p>
          Whether you're ordering online or reaching out directly, Freedom
          Butchers is committed to providing high-quality catering with
          exceptional service.
        </p>
      </div>
    </section>
  </main>
</Layout>
