---
import Layout from "../layouts/Layout.astro";
import { SelectDemo } from "../components/menu-ui/SelectDemo";
---

<Layout title="Freedom Butchers - Menu" headerTitle="Menu">
  <main>
    <div>
      <SelectDemo client:load />
    </div>
  </main>
</Layout>
