---
import Layout from "../layouts/Layout.astro";
import YelpReviews from "../components/YelpReviews/Testimonials";
---

<Layout title="Freedom Butchers - Testimonials" headerTitle="Testimonials">
  <main>
    <section
      id="testimonials"
      class="bg-gray-50 dark:bg-gray-900 text-gray-800 dark:text-gray-200 p-12 rounded-lg shadow-lg mb-12"
    >
      <h2 class="text-2xl font-bold text-center mb-6">
        What Our Customers Say
      </h2>
      <YelpReviews client:load />
    </section>
  </main>
</Layout>
