---
import Layout from "../layouts/Layout.astro";
import YelpReviews from "../components/YelpReviews/Testimonials";
---

<Layout title="Freedom Butchers - Testimonials" headerTitle="Testimonials">
  <main>
    <section
      id="testimonials"
      class="bg-gray-50 dark:bg-gray-900 text-gray-800 dark:text-gray-200 p-8 sm:p-12 mt-24 rounded-lg shadow-lg mb-12"
    >
      <h2 class="text-3xl font-bold text-center mb-6">
        What Our Customers Say
      </h2>
      <div class="flex flex-col justify-center items-center">
        <YelpReviews client:load />
      </div>
    </section>
  </main>
</Layout>
