---
import Layout from "@/layouts/Layout.astro";
import "@/styles/global.css";
---

<Layout
  title="Freedom Butchers - Contact"
  headerTitle="Freedom Butchers - Contact"
>
  <main>
    <section
      id="contact"
      class="bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200 p-10 rounded-lg shadow-lg mb-8 transition-all duration-300 ease-in-out transform hover:shadow-xl"
    >
      <h2
        class="text-4xl font-bold mb-6 text-center underline decoration-gray-600 dark:decoration-gray-400"
      >
        Contact Us
      </h2>

      <p class="mb-6 text-lg leading-relaxed text-center">
        We’d love to hear from you! Whether you have questions about our
        products, need assistance with an order, or want to share your feedback,
        feel free to reach out to us. Our dedicated team is here to help you
        with anything you need.
      </p>

      <h3 class="text-3xl font-semibold mb-4 text-center">Get in Touch</h3>
      <p class="mb-4 text-center">
        You can contact us via the following methods:
      </p>
      <ul class="list-disc list-inside mb-6 mx-auto max-w-md">
        <li>
          <strong>Email:</strong>
          <a
            href="mailto:contact@freedombutchers.com"
            class="text-blue-600 hover:underline">contact@freedombutchers.com</a
          >
        </li>
        <li>
          <strong>Phone:</strong>
          <a href="tel:+7089660543" class="text-blue-600 hover:underline"
            >(708) 966-0543</a
          >
        </li>
        <li>
          <strong>Address:</strong> 8600 West 159th Street, Suite 6, Orland Park,
          IL, United States
        </li>
      </ul>

      <h3 class="text-3xl font-semibold mb-4 text-center">Visit Us</h3>
      <p class="mb-4 text-center">
        We welcome you to visit our shop to explore our range of high-quality
        meats and specialty products. Our friendly staff is always available to
        assist you with selections or provide recommendations tailored to your
        needs.
      </p>

      <h3 class="text-3xl font-semibold mb-4 mt-6 text-center">Feedback</h3>
      <p class="mb-4 text-center">
        Your opinion matters to us! Please take a moment to fill out our
        feedback form to help us improve our services. We appreciate your input
        and are always striving to provide the best experience for our
        customers.
      </p>
    </section>
  </main>
</Layout>
