---
import Layout from "@/layouts/Layout.astro";
import "@/styles/global.css";
---

<Layout title="Freedom Butchers - Contact" headerTitle="Contact Us">
  <main
    class="flex justify-center items-start bg-gray-100 dark:bg-gray-900 p-10"
  >
    <section
      id="contact"
      class="bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200 p-8 rounded-lg shadow-md mb-8 transition-transform duration-300 hover:shadow-lg max-w-md w-full mr-8"
    >
      <h2
        class="text-4xl font-bold mb-6 text-center border-b border-gray-300 pb-2"
      >
        Contact Us
      </h2>
      <p class="mb-6 text-lg leading-relaxed text-center">
        We’d love to hear from you! Whether you have questions about our
        products, need assistance with an order, or want to share your feedback,
        feel free to reach out. Our dedicated team is here to help.
      </p>
    </section>

    <div class="flex flex-col space-y-6 max-w-lg w-full">
      <div
        class="bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200 p-6 rounded-lg shadow-md transition-shadow duration-300 hover:shadow-lg"
      >
        <h3 class="text-3xl font-semibold mb-4 text-center">Get in Touch</h3>
        <p class="mb-4 text-center">
          You can contact us via the following methods:
        </p>
        <ul class="list-none space-y-2 text-center">
          <li>
            <strong>Email:</strong>
            <a
              href="mailto:contact@freedombutchers.com"
              class="text-blue-600 dark:text-yellow-400 hover:underline transition duration-300"
              >contact@freedombutchers.com</a
            >
          </li>
          <li>
            <strong>Phone:</strong>
            <a
              href="tel:+7089660543"
              class="text-blue-600 dark:text-yellow-400 hover:underline transition duration-300"
              >(708) 966-0543</a
            >
          </li>
          <li>
            <strong>Address:</strong> 8600 West 159th Street, Suite 6, Orland Park,
            IL, United States
          </li>
        </ul>
      </div>

      <div
        class="bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200 p-6 rounded-lg shadow-md transition-shadow duration-300 hover:shadow-lg"
      >
        <h3 class="text-3xl font-semibold mb-4 text-center">Visit Us</h3>
        <p class="mb-4 text-center">
          We welcome you to visit our shop to explore our range of high-quality
          meats and specialty products. Our friendly staff is always available
          to assist you with selections or provide recommendations tailored to
          your needs.
        </p>
      </div>

      <div
        class="bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200 p-6 rounded-lg shadow-md transition-shadow duration-300 hover:shadow-lg"
      >
        <h3 class="text-3xl font-semibold mb-4 text-center">Feedback</h3>
        <p class="mb-4 text-center">
          Your opinion matters to us! Please take a moment to fill out our
          feedback form to help us improve our services. We appreciate your
          input and are always striving to provide the best experience for our
          customers.
        </p>
        <button
          class="nav-item flex m-auto text-center p-4 rounded-xl outline bg-red-200 dark:bg-gray-500"
          id="feedbackButton"><a href="/feedback">Feedback Form</a></button
        >
      </div>
    </div>
  </main>
</Layout>
