---
const { title, className, headerTitle } = Astro.props;
import ModeToggle from "../components/ui/ModeToggle";
import { AvatarDemo } from "../components/ui/AvatarDemo";
import { CiMenuBurger } from "react-icons/ci";

import "@/styles/global.css";
---

<script>
  const header = document.getElementById("site-header");
  const navbar = document.getElementById("site-navbar");
  const sidebar = document.getElementById("mobile-sidebar");
  const currentYearElement = document.getElementById("currentYear");
  const burgerIcon = document.getElementById("burger-icon");
  const closeSidebarButton = document.getElementById("close-sidebar");
  const overlay = document.getElementById("overlay");

  if (header && navbar) {
    const headerHeight = header.offsetHeight;

    window.addEventListener("scroll", () => {
      if (window.scrollY > headerHeight) {
        navbar.classList.remove("top-[4rem]");
        navbar.classList.add("top-0");
      } else {
        navbar.classList.remove("top-0");
        navbar.classList.add("top-[4rem]");
      }
    });
  }

  if (currentYearElement) {
    currentYearElement.textContent = new Date().getFullYear().toString();
  }

  if (sidebar && burgerIcon) {
    burgerIcon.addEventListener("click", () => {
      sidebar.classList.toggle("transform");
      sidebar.classList.toggle("-translate-x-full");
      if (overlay) overlay.classList.toggle("hidden");
    });
  }

  if (closeSidebarButton) {
    closeSidebarButton.addEventListener("click", closeSidebar);
  }

  if (overlay) {
    overlay.addEventListener("click", closeSidebar);
  }

  function closeSidebar() {
    if (sidebar) {
      sidebar.classList.add("-translate-x-full");
      sidebar.classList.remove("transform");
    }
    if (overlay) {
      overlay.classList.add("hidden");
    }
  }

  if (sidebar) {
    const links = sidebar.querySelectorAll("a");
    links.forEach((link) => {
      link.addEventListener("click", closeSidebar);
    });
  }
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/freedombutchers-logo.svg" type="image/x-icon" />
    <title>{title}</title>
  </head>

  <body class="bg-white text-black dark:bg-gray-900 dark:text-white">
    <header
      id="site-header"
      class="py-4 px-6 bg-background text-foreground shadow-lg fixed w-full z-50"
    >
      <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-3xl font-extrabold max-[640px]:text-xl">
          {headerTitle}
        </h1>
        <ModeToggle client:load />
        <button
          id="burger-icon"
          aria-label="Open Sidebar"
          class="text-2xl md:hidden"
        >
          <CiMenuBurger />
        </button>
      </div>
    </header>

    <div id="overlay" class="fixed inset-0 bg-black opacity-50 hidden z-40">
    </div>

    <nav
      id="mobile-sidebar"
      class="fixed left-0 top-0 w-64 max-[375px]:w-44 h-full bg-background text-foreground shadow-lg z-50 transform -translate-x-full transition-transform duration-300 md:hidden"
    >
      <div class="flex justify-between items-center p-4">
        <h2 class="text-xl font-bold">Menu</h2>
        <button id="close-sidebar" aria-label="Close Sidebar" class="text-xl">
          &times;
        </button>
      </div>

      <ul class="flex flex-col space-y-4 p-4 text-gray-900 dark:text-white">
        <li><a href="/#hero" class="text-base hover:underline">Home</a></li>
        <li>
          <a href="/#location" class="text-base hover:underline">Location</a>
        </li>
        <li>
          <a href="/#hours" class="text-base hover:underline">Store Hours</a>
        </li>
        <li>
          <a href="/#catering" class="text-base hover:underline">Catering</a>
        </li>
        <li><a href="/about" class="text-base hover:underline">About</a></li>
        <li><a href="/menu" class="text-base hover:underline">Menu</a></li>

        <li><a href="/faq" class="text-base hover:underline">FAQ</a></li>
        <li>
          <a href="/testimonials" class="text-base hover:underline"
            >Testimonials</a
          >
        </li>
      </ul>
    </nav>

    <nav
      id="site-navbar"
      class="hidden md:flex bg-background px-4 md:px-6 text-foreground fixed left-0 w-full z-50 top-[4rem] transition-all duration-300"
    >
      <div class="container mx-auto flex justify-between items-center py-4">
        <div class="flex flex-wrap space-x-4 md:space-x-12 pr-2">
          <ul class="flex flex-nowrap space-x-4 border-gray-300">
            <li class="nav-item">
              <a href="/#hero" class="text-xs md:text-sm hover:text-gray-900"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                href="/#location"
                class="text-xs md:text-sm hover:text-gray-900">Location</a
              >
            </li>
            <li class="nav-item">
              <a href="/#hours" class="text-xs md:text-sm hover:text-gray-900"
                >Store Hours</a
              >
            </li>
            <li class="nav-item">
              <a
                href="/#catering"
                class="text-xs md:text-sm hover:text-gray-900">Catering</a
              >
            </li>
          </ul>
        </div>

        <div class="flex flex-wrap space-x-4 md:space-x-6 text-gray-500">
          <ul class="flex flex-nowrap space-x-4">
            <li class="nav-item">
              <a href="/about" class="text-xs md:text-sm hover:text-gray-900"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a href="/menu" class="text-xs md:text-sm hover:text-gray-900"
                >Menu</a
              >
            </li>

            <li class="nav-item">
              <a href="/faq" class="text-xs md:text-sm hover:text-gray-900"
                >FAQ</a
              >
            </li>
            <li class="nav-item">
              <a
                href="/testimonials"
                class="text-xs md:text-sm hover:text-gray-900">Testimonials</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="pt-4">
      <slot />
    </main>

    <footer
      class="bg-gray-50 dark:bg-gray-900 text-gray-600 dark:text-gray-400 p-8 mt-12 border-t border-gray-200 dark:border-gray-700"
    >
      <div
        class="max-w-4xl mx-auto flex flex-col items-center justify-between space-y-4 md:space-y-0"
      >
        <p class="text-sm order-1 mb-4 max-[375px]:text-xs">
          &copy; <span id="currentYear"></span> Freedom Butchers. All rights reserved.
        </p>
        <div
          class="flex items-center space-x-4 text-base order-2 max-[640px]:text-center max-[425px]:text-sm max-[375px]:text-xs max-[375px]:space-x-2"
        >
          <a
            href="/privacy"
            class="relative hover:text-gray-900 dark:hover:text-gray-100 text-gray-600 dark:text-gray-400 transition-colors duration-300 after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-full after:scale-x-0 hover:after:scale-x-100 after:bg-gray-800 dark:after:bg-gray-100 after:origin-left after:transition-transform after:duration-300"
          >
            Privacy
          </a>
          <a
            href="/tos"
            class="relative hover:text-gray-900 dark:hover:text-gray-100 text-gray-600 dark:text-gray-400 transition-colors duration-300 after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-full after:scale-x-0 hover:after:scale-x-100 after:bg-gray-800 dark:after:bg-gray-100 after:origin-left after:transition-transform after:duration-300"
          >
            Terms
          </a>
          <a
            href="/contact"
            class="relative hover:text-gray-900 dark:hover:text-gray-100 text-gray-600 dark:text-gray-400 transition-colors duration-300 after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-full after:scale-x-0 hover:after:scale-x-100 after:bg-gray-800 dark:after:bg-gray-100 after:origin-left after:transition-transform after:duration-300"
          >
            Contact
          </a>
          <p class="flex items-center">
            Developed by
            <a
              href="https://github.com/RichardLechko"
              target="_blank"
              class="ml-2"
            >
              <AvatarDemo client:load />
            </a>
          </p>
        </div>
      </div>
      <div
        class="mt-8 text-center text-sm max-[375px]:text-xs text-gray-500 dark:text-gray-400"
      >
        <p class="flex flex-wrap justify-center gap-4">
          <span>
            Deployed on
            <a
              href="https://vercel.com"
              target="_blank"
              class="underline hover:text-gray-800 dark:hover:text-gray-200"
              >Vercel</a
            >
          </span>
          <span>
            Built with
            <a
              href="https://astro.build"
              target="_blank"
              class="underline hover:text-gray-800 dark:hover:text-gray-200"
              >Astro</a
            >
          </span>
          <span>
            Styled with
            <a
              href="https://tailwindcss.com/"
              target="_blank"
              class="underline hover:text-gray-800 dark:hover:text-gray-200"
              >Tailwind</a
            >
          </span>
          <span>
            Designed with
            <a
              href="https://ui.shadcn.com/"
              target="_blank"
              class="underline hover:text-gray-800 dark:hover:text-gray-200"
              >ShadCN</a
            >
          </span>
        </p>
      </div>
    </footer>
  </body>
</html>
